div {
  font-family: Arial;
  box-sizing: border-box;
}

#canvas {
  outline: 1px solid black;
  background: white;
}

#overlay {
  position: absolute;
  cursor: crosshair;
}

#controls div {
  display: inline-block;
  vertical-align: top;
  font-size: 10pt;
}

#save {
  display: inline-block;
}

#controls {
  padding-top: 4px;
  padding-left: 26px;
}

.button {
  width: 100px;
  height: 22px;
  margin: 4px 6px;
}

#gallery {
  width: 216px;
}

#peek {
  width: 265px;
}

#count {
  margin-top: 5px;
}

#debug {
  font-size: 8pt;
}

#progress {
  vertical-align: middle;
  height: auto;
}

progress {
  width: 150px;
}